// ==========================================================================================
// Mixins
// ==========================================================================================

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

// @include fontface('family', 'assets/fonts/', 'myfontname');
@mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
}

@mixin tab-focus() {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

@mixin doubly($margin) {
	& + & {
		margin-left: $margin;
		@content;
  	}
}

@mixin gpu() {
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000;
}
